/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
	font-family: 'Dosis';
	src: font-url('Dosis-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Dosis';
	src: font-url('Dosis-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Dosis';
	src: font-url('Dosis-ExtraBold.ttf') format('truetype');
	font-weight: bolder;
	font-style: normal;
}

@font-face {
	font-family: 'Dosis';
	src: font-url('Dosis-ExtraLight.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

html {
	height: 100%
}
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Dosis';
}

#map {
	width:100%;
	height:100%;
	position: absolute;
	z-index:-999;
}

.panel-default > .panel-heading {
	background:#2AC900;
	color: white;
}

#yield {
	position: absolute;
	top:0;
	width:100%;
	height:100%;
	display:table;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
  float:none;
  padding:100px 50px 50px 50px;
}

.centering div {
  max-width:600px;
  margin: 0 auto;
}

.div-centered
{
   margin: 0 auto;
   margin-top: 5px; 
}

#account-left-with-picture {
  text-align:center;
}

#account-left-with-picture img {
  height:100px;
  width:auto;
}

$bgDefault      : #2ac900;
$bgHighlight    : #58fc2d;
$colDefault     : #ffffff;
$colHighlight   : #061d00;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

$color-primary-0: #2AC900;	// Main Primary color */
$color-primary-1: #58FC2D;
$color-primary-2: #34FA00;
$color-primary-3: #1C8500;
$color-primary-4: #061D00;

$color-complement-0: #E5001B;	// Main Complement color */
$color-complement-1: #FE2E46;
$color-complement-2: #FE001E;
$color-complement-3: #980012;
$color-complement-4: #210004;



// As RGBa codes */

$rgba-primary-0: rgba( 42,201,  0,1);	// Main Primary color */
$rgba-primary-1: rgba( 88,252, 45,1);
$rgba-primary-2: rgba( 52,250,  0,1);
$rgba-primary-3: rgba( 28,133,  0,1);
$rgba-primary-4: rgba(  6, 29,  0,1);

$rgba-complement-0: rgba(229,  0, 27,1);	// Main Complement color */
$rgba-complement-1: rgba(254, 46, 70,1);
$rgba-complement-2: rgba(254,  0, 30,1);
$rgba-complement-3: rgba(152,  0, 18,1);
$rgba-complement-4: rgba( 33,  0,  4,1);

/* Generated by Paletton.com Â© 2002-2014 */
/* http://paletton.com */