/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
	font-family: 'Dosis';
	src: font-url('Dosis-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Dosis';
	src: font-url('Dosis-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Dosis';
	src: font-url('Dosis-ExtraBold.ttf') format('truetype');
	font-weight: bolder;
	font-style: normal;
}

@font-face {
	font-family: 'Dosis';
	src: font-url('Dosis-ExtraLight.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

html {
	height: 100%
}

$gradient-top: rgba(  2, 60,102,.65);
$gradient-bottom: rgba(  2, 60,102,.65);

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Dosis';
	background-color: $gradient-bottom; // fallback
	background: url(image_path('background-1.jpg')) center bottom no-repeat; // fallback
    background: linear-gradient($gradient-top, $gradient-bottom), url(image_path('background-1.jpg')) center bottom no-repeat; 
    background: -webkit-linear-gradient($gradient-top, $gradient-bottom), url(image_path('background-1.jpg')) center bottom no-repeat; 
    background: -o-linear-gradient($gradient-top, $gradient-bottom), url(image_path('background-1.jpg')) center bottom no-repeat;
    background: -moz-linear-gradient($gradient-top, $gradient-bottom), url(image_path('background-1.jpg')) center bottom no-repeat;
    background-size:contain,cover;
}

#map {
	width:100%;
	height:100%;
	position: absolute;
	z-index:-999;
}

#yield-container {
	padding: 25px;
}

#pageCarousel {
  position:absolute;
  width:100%;
  height:100%;
  padding-top:50px;
}

#pageCarousel .carousel-inner {
	width: 100%;
	height:100%;
}

#pageCarousel .carousel-inner .item {
	width: 100%;
	height:100%;
	overflow-y: auto;
}

#pageCarousel .carousel-indicators li {
	border: 1px solid #2AC900;
}

#pageCarousel .carousel-indicators .active {
	background:#2AC900;
}

#account-left-with-picture {
  text-align:center;
}

#account-left-with-picture img {
  height:100px;
  width:auto;
}

#edit-account-area h3 {
  margin-top: 0px;
}

$bgDefault      : #2ac900;
$bgHighlight    : #58fc2d;
$colDefault     : #ffffff;
$colHighlight   : #061d00;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

// As hex codes */

$color-primary-0: #2AC900;	// Main Primary color */
$color-primary-1: #58FC2D;
$color-primary-2: #34FA00;
$color-primary-3: #1C8500;
$color-primary-4: #061D00;

$color-secondary-1-0: #025A99;	// Main Secondary color (1) */
$color-secondary-1-1: #39A9F9;
$color-secondary-1-2: #0591F4;
$color-secondary-1-3: #023C66;
$color-secondary-1-4: #000D16;

$color-secondary-2-0: #DAEB00;	// Main Secondary color (2) */
$color-secondary-2-1: #EFFF2E;
$color-secondary-2-2: #ECFF00;
$color-secondary-2-3: #919C00;
$color-secondary-2-4: #1F2200;



// As RGBa codes */

$rgba-primary-0: rgba( 42,201,  0,1);	// Main Primary color */
$rgba-primary-1: rgba( 88,252, 45,1);
$rgba-primary-2: rgba( 52,250,  0,1);
$rgba-primary-3: rgba( 28,133,  0,1);
$rgba-primary-4: rgba(  6, 29,  0,1);



$rgba-secondary-1-0: rgba(  2, 90,153,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba( 57,169,249,1);
$rgba-secondary-1-2: rgba(  5,145,244,1);
$rgba-secondary-1-3: rgba(  2, 60,102,1);
$rgba-secondary-1-4: rgba(  0, 13, 22,1);

$rgba-secondary-2-0: rgba(218,235,  0,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(239,255, 46,1);
$rgba-secondary-2-2: rgba(236,255,  0,1);
$rgba-secondary-2-3: rgba(145,156,  0,1);
$rgba-secondary-2-4: rgba( 31, 34,  0,1);

/* Generated by Paletton.com Â© 2002-2014 */
/* http://paletton.com */